.activity__main__div {
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
}

.activity__main__div__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    padding: 5rem 0;
}

.activity__main__div__container p {
    text-align: center;
}

.activity__card__container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.activity__cards {
    width: 21rem;
    height: 17rem;
    background: url("/images/cat1.jpg");
    border-radius: 0.3rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    overflow: hidden;
}

.activity__cards__overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.553);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 0.5rem;
    font-size: 1.5rem;
}
.activity__cards__overlay button {
    border: none;
    outline: none;
    background: green;
    border-radius: 20rem;
    color: white;
    padding: 0rem 1.5rem;
    margin-top: 0.5rem;
    font-size: 14px;
}


.activity__cards:hover .activity__cards__overlay {
    transition: 0.5s;
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.7), rgba(0, 0, 255, 0.7));
}