.drawer__main__div {
    width: 0px;
    height: 100vh;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0px;
    top: 0;
    z-index: 100;
    /* padding: 20px 10px; */
    overflow: hidden;
    transition: 0.2s;
}

.drawer__container {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    position: relative;
    padding: 20px 10px;
}

.drawer__close__btn {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 2px 8px;
    background: none;
    border: none;
    outline: none;
    color: rgb(255, 0, 0);
    font-size: 15px;
    font-weight: 700;
    background-color: #ffffff;
    /* border-radius: 50px; */
    z-index: 1000000000000000000;
}

.drawer__link__container {
    width: 100%;
    height: 100%;
    /* background: #000; */
}





.links__container__link {
    width: 100%;
    height: auto;
    /* background: rgb(255, 60, 60); */
    padding: 0px 0px;
    color: rgb(168, 168, 168);

}

.drawer__link__div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    border-radius: 3px;
    margin: 10px 0;
}

.Link {
    text-decoration: none;
    color: #c4c4c4;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0.1rem 1rem;
    font-size: 1.3rem;
}



.drawer__link__div:hover {
    background: #0379ff2c;
    transition: 0.1s;
}

.logout__btn {
    width: 100%;
    padding: 5px 10px;
    border: none;
    outline: none;
    background: linear-gradient(45deg,#e83e8c, #fd7e14);
    color: white;
    font-weight: 500;
    border-radius: 3px;
    padding: 0.8rem 1.5rem;
}