.footer__mainDiv {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding-top: 3rem;
    box-sizing: border-box;
}

.footer__container {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.links__container {
    width: 80%;
    height: 300px;
    /* border: 3px solid green; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    color: rgb(0, 0, 0);
}

.contactUs__container {
    width: 15rem;
    height: 100%;
    /* background: yellow; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: flex-start;
    color: black;
    margin: 2rem 0;
}


.links__container p a {
    font-size: 15px;
    color: gray;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.links__container p a:hover {
    transition: 0.4s;
    color: rgb(255, 30, 79);

}

.copyright__container {
    /* background: rgba(211, 211, 211, 0.15); */
    border-top: 0.0001px solid lightgray;
    width: 80%;
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 0.5rem auto;
}

.question {
    font-size: 2rem;
}

.map__btn {
    border: none;
    outline: none;
    background: #FF6251;
    width: 10rem;
    padding: 0.8rem 1.2rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
    color: white;
}

.goTop__btn {
    border: none;
    outline: none;
    background: #FF6251;
    width: 11rem;
    padding: 0.8rem 0.5rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
    color: white;
    transform: rotate(-90deg);
}

.map__btn:hover {
    background: #000000;
    transition: 0.4s;
}


.contactUs__social__link {
    background: rgb(255, 217, 217);
    height: 25px;
    width: 25px;
    padding: 0.2rem;
    border-radius: 50%;
    color: #aeaeae;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.contactUs__container button {
    border: none;
    outline: none;
    width: 9rem;
    padding: 0.7rem 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    background: linear-gradient(45deg, rgb(255, 73, 103), rgb(210, 2, 210));

}

@media (max-width:1000px) {
    .footer__mainDiv {
        height: auto;
    }

    .footer__container {
        height: auto;
    }

    .contactUs__container {
        height: 200px;
        width: 100%;
    }

    .links__container {
        height: auto;
    }


    .copyright__container {
        height: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}