.nav__div {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 3rem;
    position: relative;
}

.nav__menu__btn {
    height: 50px;
    width: 40px;
    color: white;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    margin-right: 1rem;
}

.nav__btn__user {
    padding: 0.7rem;
    color: white;
    background: linear-gradient(45deg, rgb(255, 73, 103), rgb(210, 2, 210));
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    border-radius: 0.2rem;
}

.nav__link__link__vist {
    margin: 0 1.5rem;
    text-decoration: none;
    color: white;
}

.nav__btn__add__listing button {
    border: none;
    outline: none;
    background: linear-gradient(45deg, rgb(255, 73, 103), rgb(210, 2, 210));
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    color: white;
}

.nav__link__link__vist__logIn {
    text-decoration: none;
    color: white;
}

.nav__link__link__toggel {
    width: 10rem;
    height: auto;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    position: absolute;
    /* left: 5rem; */
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 0.5rem;
    /* display: none; */
}

.nav__link__link__toggel__link {
    text-decoration: none;
    color: gray;
}

.nav__link__link__toggel__link:hover.nav__link__link__toggel {
    /* display: block; */
    background: rgb(255, 140, 140) !important;
}

@media (max-width:1000px) {
    .nav__link__link__vist {
        display: none;
    }

    .nav__btn__add__listing button {
        display: none;
    }

    .nav__link__link__vist__logIn {
        display: none;

    }

    .nav__menu__btn {
        display: block;
    }

    .nav__btn__user {
        display: block;

    }
}